In [ ]:
# Creating MYSQL connection

In [1]:
import mysql.connector as sql
connection = sql.connect(
    host = "localhost",
    user = "root",
    password = "Nandu@1906"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001BD63907DF0>

# CREATING  A DATABASE

In [2]:
# In order to create DB we have to take this connection and this function has conncetion which is called cursor()
## ** This cursor actually help us to execute all the kind of query that will compatible with mysqlDA

In [ ]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE student5")
cursor.execute("SHOW DATABASES")# Any query you want to execute in the mysql we will use this one

In [ ]:
for database in cursor:
    print(database)

In [ ]:
# cursor = connection.cursor()
# cursor.execute("DROP DATABASE nandu3")
# cursor.execute("SHOW DATABASES")

In [ ]:
# for database in cursor:
#     print(database)

In [ ]:
# cursor = connection.cursor()
# cursor.execute("CREATE DATABASE nandu4")
# cursor.execute("SHOW DATABASES")

In [ ]:
# for database in cursor:print(database)

### CREATING TABLES AND INSERTING RECORDS

In [ ]:
import mysql.connector as sql
connection = sql.connect(
    host = "localhost",
    user = "root",
    password = "Nandu@1906",
    database = "student3"
)
print(connection) #If you want to connect to a specific database inside a sql server you have to use this parameter 
#that is a additional parameter that is called as database=" nandu3"

#### CREATE TABLE IN MY SQL

In [ ]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo1 (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

#### INSERT RECORDS IN MY TABALE

In [ ]:
query = "INSERT INTO studentinfo1(name,subject) values(%s, %s)"
print("Row inserted",cursor.lastrowid)

In [ ]:
# ## Insert multiple records in Table
# query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
# values = [("Nandu", "Lovesindhu"),
#         ("Indhu", "lovesnandu"),
#         ("nida","Data Science"),
#         ("rahul","Data Engineer"),
#         ("Alok","Senior python developer"),
#         ("Vinay","Data Science")]
# cursor.executemany(query,values)
# print("Row inserted",cursor.lastrowid)s, %s

In [ ]:
query = " INSERT INTO studentinfo(name,subject) VALUES (%s, %s)"
values = [("Nandu",Datascience),
          ("Indhu",datascience),
         ]